.chaxun{
    width:80px;
    background: #3398cc;
    height: 20px;
    line-height: 20px;
    margin-top:5px;
    vertical-align: middle;
    font-weight: bold;
    font-family: "Microsoft Yahei",Tahoma,Helvetica,Arial,Verdana,"宋体",sans-serif;
    letter-spacing: 3px;
    -moz-border-radius:8px;
    border-radius: 8px;
    border:1px solid #e4e4e4;
    float:right;
    color:#fff;
}
.main{width:1000px; min-height:542px; margin:50px auto;clear: both;overflow: hidden; height:auto;}
.main_content{
    width:1000px;
    border: none;
    border-top: 4px solid #3398cc;
    min-height:504px;
    clear: both;
    overflow: hidden;
    height:auto;
}
.main h1{
    heihgt:50px;
    color:#fff;
    background:url(../img/contentTitle_bg.gif) no-repeat;
    line-height: 40px;
    vertical-align: middle;
    font-weight: bold;
    font-size: 14px;
    width:142px;
    text-align: center;
    float:left
}
.mainSearch{
    width:674px;
    heigth:40px;
    height:auto;
    line-height:30px;
    vertical-align: middle;
    text-align:center;
    float: right;
}
.ms_keyWord{
    font:12px/18px "Microsoft Yahei";
    width: 570px;
    height: 20px;
    line-height: 25px;
    vertical-align: middle;
    margin-left:10px;
    margin-top:5px;
    float: left;
    display: inline;
    border:1px solid #cdcdcd;
    background: #FFFFFF;
}

.as_left{
    width:220px;
    padding:20px;
    float:left;
    height:504px;
    background: #fff;
}
.al_source,.al_years,.al_money,.al_degree{
    width:220px;
    height:130px;
    float: left;
    display: block;
}
.as_bg{
    width: 90px;
    float: left;
}
.dataSource,.years,.money,.degree{
    width:100px;
    float: left;
}
.result{
    width:680px;
    height:auto;
    float: right;
}
.result_Allcount{
    line-height: 40px;
    vertical-align: middle;
    width:660px;
    padding-left:20px;
    border:none;
    border-bottom: 1px solid #ccc;
    float:left;
}
.rs_content{
    width:680px;
    float: left;
    padding-top:5px;
    display: none;
}
.rs_one{
    width:640px;
    height:auto;
    float:left;
    padding:10px 20px;
    margin: 10px 0;
    border-radius: 5px;
    background: #fff;
}
.ro_left{
    width:100px;
    height:120px;
    float:left;
}
.ro_img{
    width:97px;
    height:94px;
    float:left;
    background: url(../img/ro_img.jpg) no-repeat;
}
.ro_img img{
    width: 100%;
    height:100%;
}
.ro_connect{
    cursor: pointer;
    width:96px;
    height:25px;
    line-height: 25px;
    vertical-align: middle;
    text-align: center;
    box-shadow: 2px 2px #cfcfcf;
    color:#000;
    float:left;
}
.ro_right{
    width:500px;
    line-height: 25px;
    word-break: break-all;
    height:auto;
    float:right;
}
.ro_baseInfo {
    width:500px;
    float:left;
}
.ro_name{
    color:#256685;
    float:left;
    font-size: 16px;
    width:150px;
}
.ro_location{
    color:#256685;
    float:right;
    font-size: 16px;
    width:100px;
}
.ro_job{
    color: #666699;
    font-size: 14px;
    text-align: center;
    width:250px;
    line-height: 30px;
    float:left;
}
.ro_description{
    font-size: 14px;
    width:500px;
    float: left;
}
.ro_descTitle{
    width:40px;
    float:left;
}
.ro_descContent{
    width:455px;
    float:right;
}
.ro_trait{
    width:500px;
    float:left;
}
.ro_trait p{
    float:left;
    font-family: "简体";
    padding:0px 15px;
    margin:5px 20px;
    display: inline;
    border:1px solid #797979;
    line-height: 20px;
    background: #ffffe1;
}
.no_found{width:680px;text-align: center}